# Dependencies
node_modules/
.pnp/
.pnp.js

# Build
dist/
build/
.next/
out/
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/*
!.vscode/extensions.json

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# CDK
cdk.out/

# Test
coverage/

# Docker
*.pid

# Misc
*.pem
.vercel
